Django>=4.2.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
django-cors-headers>=4.0.0
django-filter>=23.2
drf-yasg>=1.21.5
python-dotenv>=1.0.0
drf-nested-routers>=0.93.4
psycopg2-binary>=2.9.9
pytest>=7.4.0
pytest-django>=4.5.2
factory-boy>=3.3.0
Faker>=19.3.0 